.ArtGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* Consider making this something like 1550px*/
  max-width: 1910px;
  margin-top: 50px;
  
  /* Add extra margin to prevent scale transform from adding blank area when scaling the bottom images */
  margin-bottom: 25px; 
}