.ArtGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* Consider making this something like 1550px*/
  max-width: 1910px;
  padding-top: 50px;
  
  /* Add extra padding to prevent scale transform from adding blank area when scaling the bottom images */
  padding-bottom: 25px; 
  background-color: 	#303030;
}